<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../CSS/StyleSheet.css" rel="stylesheet" />
</head>
<body>

    <div class="nav">
        <ul>
            <li>
                <a href="../../Index.html">Home</a>
            </li>
            <li>
                <a href="Courses.html">Courses</a>
            </li>
            <li>
                <a href="Trainers.html">Trainers</a>
            </li>
            <li>
                <a href="Students.html">Students</a>
            </li>
            <li>
                <a href="Assignments.html">Assignments</a>
            </li>
            <li>
                <a href="Trainers per Course.html">Trainers per Course</a>
            </li>
            <li>
                <a href="Students per Course.html">Students per Course</a>
            </li>
            <li>
                <a href="Assignments per Course.html">Assignments per Course</a>
            </li>
            <li>
                <a href="Assignments per Student per Course.html">Assignments per Student per Course</a>
            </li>

        </ul>
    </div>

    <div class="tit">
        Trainers
    </div>

    <div>
        <button class="add">
            <a href="../Edits/Add_Trainers.html">Add Trainer</a>
        </button>
        <table class="table" style="height:750px;">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Course</td>
                    <td>Work Since</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hectorinho Gkatsos</td>
                    <td>C#</td>
                    <td>15-03-2017</td>
                    <td><button class="edit"><a href="../Edits/Edit_Trainer.html">Edit this Trainer</a></button><button onclick="delFunction()" class="del">Delete</button></td>
                </tr>
                <tr>
                    <td>Nikolaos Korompios</td>
                    <td>C#</td>
                    <td>25-03-2018</td>
                    <td><button class="edit"><a href="../Edits/Edit_Trainer.html">Edit this Trainer</a></button><button onclick="delFunction()" class="del">Delete</button></td>
                </tr>
                <tr>
                    <td>Iwannhs Matsamplokos</td>
                    <td>C#</td>
                    <td>21-12-2019</td>
                    <td><button class="edit"><a href="../Edits/Edit_Trainer.html">Edit this Trainer</a></button><button onclick="delFunction()" class="del">Delete</button></td>
                </tr>
                <tr>
                    <td>Tzenh Mpotsh</td>
                    <td>C#</td>
                    <td>23-02-2010</td>
                    <td><button class="edit"><a href="../Edits/Edit_Trainer.html">Edit this Trainer</a></button><button onclick="delFunction()" class="del">Delete</button></td>
                </tr>
                <tr>
                    <td>Kleanthis Smaragdenios</td>
                    <td>PYTHON</td>
                    <td>15-12-2009</td>
                    <td><button class="edit"><a href="../Edits/Edit_Trainer.html">Edit this Trainer</a></button><button onclick="delFunction()" class="del">Delete</button></td>
                </tr>
                <tr>
                    <td>Maria Metakitrina</td>
                    <td>PYTHON</td>
                    <td>30-05-2015</td>
                    <td><button class="edit"><a href="../Edits/Edit_Trainer.html">Edit this Trainer</a></button><button onclick="delFunction()" class="del">Delete</button></td>
                </tr>
                <tr>
                    <td>Petros Petras</td>
                    <td>PYTHON</td>
                    <td>15-12-2009</td>
                    <td><button class="edit"><a href="../Edits/Edit_Trainer.html">Edit this Trainer</a></button><button onclick="delFunction()" class="del">Delete</button></td>
                </tr>
                <tr>
                    <td>Giannhs Sougias</td>
                    <td>PYTHON</td>
                    <td>12-06-2016</td>
                    <td><button class="edit"><a href="../Edits/Edit_Trainer.html">Edit this Trainer</a></button><button onclick="delFunction()" class="del">Delete</button></td>
                </tr>
                <tr>
                    <td>Tzelh Tzotzh</td>
                    <td>Java</td>
                    <td>05-12-2012</td>
                    <td><button class="edit"><a href="../Edits/Edit_Trainer.html">Edit this Trainer</a></button><button onclick="delFunction()" class="del">Delete</button></td>
                </tr>
                <tr>
                    <td>Kostas Kalantas</td>
                    <td>Java</td>
                    <td>02-04-2017</td>
                    <td><button class="edit"><a href="../Edits/Edit_Trainer.html">Edit this Trainer</a></button><button onclick="delFunction()" class="del">Delete</button></td>
                </tr>
                <tr>
                    <td>Agios Petropopoulos</td>
                    <td>Java</td>
                    <td>12-06-2013</td>
                    <td><button class="edit"><a href="../Edits/Edit_Trainer.html">Edit this Trainer</a></button><button onclick="delFunction()" class="del">Delete</button></td>
                </tr>
                <tr>
                    <td>Stayros Anapodos</td>
                    <td>Java</td>
                    <td>03-08-2018</td>
                    <td><button class="edit"><a href="../Edits/Edit_Trainer.html">Edit this Trainer</a></button><button onclick="delFunction()" class="del">Delete</button></td>
                </tr>
                <tr>
                    <td>Pater Kleomenhs</td>
                    <td>JavaScript</td>
                    <td>06-07-2017</td>
                    <td><button class="edit"><a href="../Edits/Edit_Trainer.html">Edit this Trainer</a></button><button onclick="delFunction()" class="del">Delete</button></td>
                </tr>
                <tr>
                    <td>Giorgos Kampilotos</td>
                    <td>JavaScript</td>
                    <td>12-02-2012</td>
                    <td><button class="edit"><a href="../Edits/Edit_Trainer.html">Edit this Trainer</a></button><button onclick="delFunction()" class="del">Delete</button></td>
                </tr>
                <tr>
                    <td>Eugenia Katsarou</td>
                    <td>JavaScript</td>
                    <td>16-03-2013</td>
                    <td><button class="edit"><a href="../Edits/Edit_Trainer.html">Edit this Trainer</a></button><button onclick="delFunction()" class="del">Delete</button></td>
                </tr>
                <tr>
                    <td>Orthogonios Parallilos</td>
                    <td>JavaScript</td>
                    <td>27-01-2011</td>
                    <td><button class="edit"><a href="../Edits/Edit_Trainer.html">Edit this Trainer</a></button><button onclick="delFunction()" class="del">Delete</button></td>
                </tr>
            </tbody>
        </table>

    </div>

    <script>
        function delFunction() {
            confirm("Are you sure you want to delete?");
        }
    </script>


</body>
</html>

